@page "/names-advanced"

@using Client.Pages.Randomizer.Form
@using Client.Pages.Randomizer.Card


<PageTitle>Advanced I</PageTitle>

<h3>RandomizeNamesAdvanced</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary">Randomize</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>

