.card {
    border: 1px solid #8395a7;
    border-radius: 0;
    background-color: #c8d6e5;
    width: 400px;
    height: 80px;
    padding: 10px 25px;
}

    .card .header {
        font-size: 20px;
    }

    .card .image {
        /*border: 1px solid #8395a7;*/
        border-radius: 50%;
        /*background-color: #576574;*/
        height: 49px;
        width: 49px;
        margin-top: 5px;
        text-align: center;
        vertical-align: central;
        padding: 0px;
    }

    .card .image img {
        height: 50px;
        width: 50px;
        margin-left: -1px;
        margin-top: -1px;
        border-radius: 50%;
    }

    .card .image label {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-top: -1px;
        margin-left: -1px;
        font-size: 35px;
        overflow: hidden;
        text-align: center;
        text-transform: uppercase;
    }

/*
    round image: https://www.webfx.com/blog/web-design/circular-images-css/
*/

.backgroundAnimation {
    animation: example 1s;
}

.backgroundAnimation2 {
    animation: example2 1s;
}

@keyframes example {
    from {
        background-color: #c8d6e5;
    }

    to {
        background-color: transparent;
    }
}

@keyframes example2 {
    from {
        background-color: #c8d6e5;
    }

    to {
        background-color: transparent;
    }
}


.borderAnimation {
    /*height: 100px;
    width: 100px;*/
    animation-duration: .5s;
    animation-name: border-flash;
    /*animation-iteration-count: 2;*/
    animation-timing-function: steps(1, start);
}

.borderAnimation2 {
    /*height: 100px;
    width: 100px;*/
    animation-duration: .5s;
    animation-name: border-flash2;
    /*animation-iteration-count: 2;*/
    animation-timing-function: steps(1, start);
}

@keyframes border-flash {
    from {
        border: 1px solid #c8d6e5;
    }

    to {
        border: 1px solid #c8d6e5;
        box-shadow: 0 0 5px #10ac84, 0 0 25px #10ac84, 0 0 50px #10ac84, 0 0 500px #10ac84;
    }
}

@keyframes border-flash2 {
    from {
        border: 1px solid #c8d6e5;
    }

    to {
        border: 1px solid #c8d6e5;
        box-shadow: 0 0 5px #0abde3, 0 0 25px #0abde3, 0 0 50px #0abde3, 0 0 500px #0abde3;
    }
}

.moveUpAnimation {
    animation-duration: .5s;
    animation-name: move-up;
    animation-timing-function: steps(1, start);
}

.moveUpAnimation2 {
    animation-duration: .5s;
    animation-name: move-up2;
    animation-timing-function: steps(1, start);
}

@keyframes move-up {
    from {
        margin-top:100%;
    }

    to {
        margin-top: 0%;
    }
}

@keyframes move-up2 {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}
