@page "/namecard"

@if (!string.IsNullOrEmpty(Name))
{
    <div class="container mt-3 card @_animationClass" @onanimationend="RemoveAnimation">
        <div class="row">
            <div class="col-md-1 image">
                @if (string.IsNullOrEmpty(ImageUrl))
                {
                    <label>@Name[0]</label>
                }
                else
                {
                    <img src=@ImageUrl />
                }
            </div>
            <div class="col-md-9 col-lg-9">
                <div class="header col-md-12 text-truncate">
                    @Name
                </div>
                <div class="col-md-12 text-truncate">
                    @Description
                </div>
            </div>
            @if(!HideDelete)
            {
                <div class="col-md-1">
                    <button class="btn btn-link" @onclick="OnDeleteClickInternal">x</button>
                </div>
            }
        </div>
    </div>
}