<div>
    @foreach(var image in _imageDatas)
    {
        @if(image.IsSelected)
        {
            <div class="selected">
                <img src=@image.ImageUrl alt="avatar" @onclick="(x => OnImageUrlClick(image))"/>
            </div>
        }
        else
        {
            <div class="image">
                <img src=@image.ImageUrl alt="avatar" @onclick="(x => OnImageUrlClick(image))"/>
            </div>    
        }
    }
</div>