@using Sz.Fe.Core.Picker
@using Sz.Fe.Core.Button

<EditForm Model=@_randomizee>
    <div>
        <div class="mb-3">
            <label class="form-label">Name*:</label>
            <input type="text" class="form-control" @ref=_nameInput @bind=_randomizee.Name />
        </div>
    
        <div class="mb-5">
            <label class="form-label">Description: </label>
            <input type="text" class="form-control" @bind=_randomizee.Description />
        </div>

        <div class="mb-3">
            <div class="row px-3">
              <button class="btn btn-secondary col-md-6 right-border-square image-button" type="button">Upload Image</button>
              @*<button class="btn btn-secondary col-md-6 left-border-square" type="button" @onclick="ShowAvatars">Choose Avatar</button>*@

              <ImageButton class="btn btn-secondary col-md-6 left-border-square image-button"
                           ButtonText="Choose Avatar"
                           ImageSource="@_randomizee.ImageUrl"
                           OnButtonClick="ShowAvatars"
                           />
            </div>
        </div>

        <div class="row px-3 mt-5">
            <button class="btn btn-primary col-md-12" @onclick="AddName">Add Name</button>
        </div>
    </div>
</EditForm>

@if (_showAvatars)
{
    <div class="modal fade show" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <ImagePicker ImageUrls=@_avatarUrls
                             OnImageSelected="OnImageSelected"
                             @ref="_imagePicker" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" @onclick="HideAvatars">Done</button>
                </div>
            </div>
            @*<div class="container">
                <div class="row">
                    <ImagePicker ImageUrls=@_avatarUrls
                             OnImageSelected="OnImageSelected"
                             @ref="_imagePicker" />
                </div>
                <div class="row mt-3">
                    
                </div>
            </div>*@
        </div>
    </div>
}



@*
    side by side button: https://stackoverflow.com/a/64896177/713847
*@