@page "/names"

<h3>RandomizeNames</h3>


<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-9">
            <EditForm Model=@emptyViewModel OnValidSubmit="AddNameSubmit">
                <input @bind=nameToAdd @ref="nameInput" @onkeydown=OnNameToAddKeyDown/>
                <button class="btn btn-primary" @onclick="AddName">Add name</button>
            </EditForm>

            @if(names.Count > 1)
            {
                <br/>
                <br/>
                <br/>
                <br/>

                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-md-9">
                            <button class="btn btn-primary btn-lg" @onclick="PickRandomName">Give Me a Name</button>
                        </div>
                    </div>

                    
                    <br/>
                    
                    <div class="row">
                        <div class="col-xs-6 col-md-9">
                            <input @bind=randomName readonly="readonly" class="@nameClass input-group-text"/>
                        </div>
                    </div>
               </div>
            }
        </div>

        <div class="col-xs-6 col-md-3">
            <ul>
            @foreach (var name in names)
            {
                <li>@name</li>
            }
            </ul>
        </div>
    </div>
</div>

